# Python Bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Virtual Environment
venv/
env/
.venv/
.env/

# IDE/editor config
.vscode/
.idea/

# Flask-related
instance/
*.db
*.sqlite3

# Logs
*.log

# Static build (if applicable)
build/
dist/

# Large files (optional, if not tracked by Git LFS)
*.pt
*.pkl
*.csv
*.zip

# OS files
.DS_Store
Thumbs.db
